#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
// @media screen and (max-width: 960px) {
//   .myvideo {
//     margin-top: 5.01rem;
//   }
// }
.myvideo {
  margin-top: 5.01rem;
}
